.topheader {
    z-index: 99999; /*CSS-свойство z-index определяет положение позиционированного элемента и его дочерних элементов или флекс-элементов по оси z. 
    Перекрывающие элементы с большим значением z-index будут накладываться поверх элементов с меньшим z-index. */
    position: fixed; /*Элемент выбивается из обычного потока документа, и для элемента в макете страницы не создаётся пространство.
     Он позиционируется относительно исходного содержащего блока,*/
    width: 100%;
    background: white;
    height: 140px;
}
.logo {
    display: block;
    position: absolute;
    bottom: auto; /*располагается так же, как при статическом позиционировании.*/
}
.logo>a>img {
    margin-top: -10px;
    padding-right: 10px;
    height: 60px;
}
.logo>a{
    font-weight:bolder;
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 70%;
    color: #696969;
    text-transform: uppercase;
    font-size: 20px; /* стилизуют заголовки с помощью прописных букв.*/
    line-height: initial; /* устанавливает величину пространства между строками, например в тексте.
     В блочных элементах оно указывает минимальную высоту блоков строк внутри элемента.*/
}